@import "../../global/Styles.scss";

.budget-container {
  height: 100%;
  width: 100%;

  margin-top: 20px;
  gap: 1rem;

  @include flexDisplay(column, center, center);
}

.values-display {
  height: 100%;
  width: 100%;

  gap: 1rem;

  @include flexDisplay(row, space-between, center);

  .value {
    height: 3.5rem;
    width: 100%;
    max-width: 450px;

    border-radius: 8px;
    box-sizing: border-box;
    padding: 5px;

    gap: 0.8rem;

    @include fonts(0.9rem, 500, 0.5px);
    @include flexDisplay(row, start, center);
  }
}

.inputs-display {
  height: 100%;
  width: 100%;

  box-sizing: border-box;

  @include flexDisplay(row, space-between, end);
  gap: 2rem;

  .inputs {
    width: 100%;
    // max-width: 600px;
    @include flexDisplay(column, center, start);

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    .input-wrapper {
      height: 100%;
      width: 100%;

      gap: 1rem;
      @include flexDisplay(row, space-between, center);
    }
  }
}

.current-month-view {
  width: 100%;

  border-bottom: 2px solid;
  margin-bottom: 20px;

  @include flexDisplay(row, space-between, center);
  @include fonts(1.2rem, 500, 0.5px);

  .item {
    gap: 1rem;
    @include flexDisplay(row, center, center);
    margin-bottom: 10px;
  }
}

.dark-button {
  height: 2.5rem;
  box-sizing: border-box;

  padding: 5px;
  border-radius: 4px;
  border: 2px solid #161616;

  background: #161616;
  color: white;

  @include flexDisplay(row, center, center);
  @include fonts(0.9rem, 500, 0.5px);

  transition: all 300ms ease-in-out;

  &:hover {
    border: 2px solid #161616;

    background: #292929;
    color: white;
  }
}

.light-button {
  height: 2.5rem;
  box-sizing: border-box;

  padding: 5px;
  border-radius: 4px;
  border: 2px solid $fourthColor;

  background: $fourthColor;
  color: white;

  @include flexDisplay(row, center, center);
  @include fonts(0.9rem, 500, 0.5px);

  transition: all 300ms ease-in-out;

  &:hover {
    border: 2px solid $fourthColor;

    background: white;
    color: $fourthColor;
  }
}

.input-light {
  width: 100%;
  height: 2.5rem;

  box-sizing: border-box;

  padding: 5px;

  color: black;

  border-radius: 4px;
  border: none;
  outline: 2px solid $fourthColor;
  @include fonts(1rem, 500, 0.5px);

  &:focus {
    border: none;
    outline: 2px solid $primaryColor;
  }
}

.input-dark {
  width: 100%;
  height: 2.5rem;

  box-sizing: border-box;

  padding: 5px;

  color: white;
  background: $darkTheme;

  border-radius: 4px;
  border: none;
  outline: 2px solid #161616;
  @include fonts(1rem, 500, 0.5px);

  &:focus {
    border: none;
    outline: 2px solid black;
  }
}
