@import "../../global/Styles.scss";

.expense-container {
  height: 400px;
  width: 800px;

  overflow-x: hidden;
  overflow-y: scroll;

  gap: 0.2rem;

  @include flexDisplay(column, start, center);

  .expense-item {
    height: 40px;
    width: 100%;

    @include flexDisplay(row, center, center);
  }
}
