@import "../../global/Styles.scss";

.doughnut-chart-container {
  height: 500px;
  width: auto;

  margin-top: 20px;

  border-radius: 8px;
  box-sizing: border-box;

  padding: 10px;

  transition: background 300ms ease-in-out;

  @include flexDisplay(row, space-between, center);
  @include fonts(1rem, 700, 0.5px);

  @media all and (max-width: 1400px) {
    width: 100%;
  }

  @media all and (max-width: 820px) {
    height: 100%;
    @include flexDisplay(column, space-between, center);
  }

  .break-down-container {
    height: 100%;
    min-width: 200px;

    box-sizing: border-box;

    border-radius: 4px;

    @include fonts(0.9rem, 500, 0.5px);
    @include flexDisplay(column, space-between, start);

    @media all and (max-width: 820px) {
      width: 100%;
      gap: 1rem;
      margin-bottom: 10px;
    }

    .header {
      width: 100%;
      border-bottom: 2px solid;

      position: relative;

      @include flexDisplay(row, start, center);
      @include fonts(1.5rem, 500, 0.5px);
    }

    .arrow {
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;

      position: absolute;
      bottom: -7px;
      right: -3px;

      border-left: 6px solid;

      @media all and (max-width: 820px) {
        display: none;
      }
    }

    span {
      width: 100%;
      border-radius: 4px;
      padding: 3px;
    }
  }
}

.break-down-row {
  @include flexDisplay(row, space-between, center);
}

.light-chart-bg {
  background: rgba(0, 0, 0, 0.1);
}

.dark-chart-bg {
  background: rgba(0, 0, 0, 0.6);
}

.bar-chart-container {
  height: 400px;
  aspect-ratio: 2/1;

  box-sizing: border-box;

  @include flexDisplay(row, center, center);
  @include fonts(1rem, 700, 0.5px);
}
