//brand colors
$primaryColor: #6a84da;
$secondaryColor: #586fbb;
$thirdColor: #43558f;
$fourthColor: #39436e;

//themes
$lightTheme: white;
$lightText: black;
$darkTheme: #292929;
$darkText: white;

$grayBackground: rgb(233, 233, 233);

$padding: 0px 40px 40px 40px;

//gradient colors
$gradient-color-one: #39436e2e;
$gradient-color-two: #43558f1a;
$gradient-color-three: #586fbb00;

@mixin flexDisplay($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin fonts($size, $weight, $spacing) {
  font-size: $size;
  font-weight: $weight;
  font-family: "Montserrat", sans-serif;
  letter-spacing: $spacing;
}

@mixin display($height, $width, $color) {
  height: $height;
  width: $width;
  background-color: $color;
}

@mixin theme($theme) {
  @if $theme == "light" {
    background: $lightTheme;
  } @else {
    background: $darkTheme;
  }
}

.error {
  height: 1rem;
  width: 100%;

  color: red;

  @include flexDisplay(row, center, center);
  @include fonts(0.8rem, 500, 0.5px);

  padding-top: 0.2rem;
}

.visible {
  opacity: 1;
  transition: all 300ms ease-in-out;
  transform: translateX(0);
}

.hidden {
  opacity: 0;
  transform: translateX(20px);
}

//themeing

.dark-primary-button {
  color: white;
  text-decoration: none;

  &:hover {
    background-color: #161616;
    color: white;
  }
}

.light-primary-button {
  color: $fourthColor;
  text-decoration: none;

  &:hover {
    background-color: $fourthColor;
    color: white;
  }
}

.light-text {
  color: black;
}

.dark-text {
  color: white;
}

.primary-text {
  color: $primaryColor;
}

.fourth-text {
  color: $fourthColor;
}

.dark-background {
  background: #292929;
}

.light-background {
  background: white;
}

//gradients

.dark-gradient {
  background-image: linear-gradient(
      148deg,
      rgba(15, 15, 15, 0.04) 0%,
      rgba(15, 15, 15, 0.04) 35%,
      rgba(113, 113, 113, 0.04) 35%,
      rgba(113, 113, 113, 0.04) 42%,
      rgba(210, 210, 210, 0.04) 42%,
      rgba(210, 210, 210, 0.04) 100%
    ),
    linear-gradient(
      70deg,
      rgba(15, 15, 15, 0.04) 0%,
      rgba(15, 15, 15, 0.04) 25%,
      rgba(113, 113, 113, 0.04) 25%,
      rgba(113, 113, 113, 0.04) 30%,
      rgba(210, 210, 210, 0.04) 30%,
      rgba(210, 210, 210, 0.04) 100%
    ),
    linear-gradient(
      65deg,
      rgba(15, 15, 15, 0.04) 0%,
      rgba(15, 15, 15, 0.04) 13%,
      rgba(113, 113, 113, 0.04) 13%,
      rgba(113, 113, 113, 0.04) 27%,
      rgba(210, 210, 210, 0.04) 27%,
      rgba(210, 210, 210, 0.04) 100%
    ),
    linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
}

.light-gradient {
  background-image: linear-gradient(
      112.5deg,
      rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%,
      rgb(195, 195, 195) 10%,
      rgb(195, 195, 195) 53%,
      rgb(176, 176, 176) 53%,
      rgb(176, 176, 176) 55%,
      rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%,
      rgb(137, 137, 137) 60%,
      rgb(137, 137, 137) 88%,
      rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%,
      rgb(99, 99, 99) 91%,
      rgb(99, 99, 99) 100%
    ),
    linear-gradient(
      157.5deg,
      rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%,
      rgb(195, 195, 195) 10%,
      rgb(195, 195, 195) 53%,
      rgb(176, 176, 176) 53%,
      rgb(176, 176, 176) 55%,
      rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%,
      rgb(137, 137, 137) 60%,
      rgb(137, 137, 137) 88%,
      rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%,
      rgb(99, 99, 99) 91%,
      rgb(99, 99, 99) 100%
    ),
    linear-gradient(
      135deg,
      rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%,
      rgb(195, 195, 195) 10%,
      rgb(195, 195, 195) 53%,
      rgb(176, 176, 176) 53%,
      rgb(176, 176, 176) 55%,
      rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%,
      rgb(137, 137, 137) 60%,
      rgb(137, 137, 137) 88%,
      rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%,
      rgb(99, 99, 99) 91%,
      rgb(99, 99, 99) 100%
    ),
    linear-gradient(90deg, rgb(195, 195, 195), rgb(228, 228, 228));

  background-blend-mode: overlay, overlay, overlay, normal;
}

$blue: #6a84da;
$blueColor: #39436e;
$red: #ff7676;
$redColor: #994343;
$green: #48da85;
$greenColor: #2d9257;
