@import "../../global/Styles.scss";

.comparison-container {
  height: 500px;
  width: 100%;

  margin-top: 20px;
  margin-bottom: 20px;

  gap: 1rem;

  @include flexDisplay(row, space-between, center);

  .compare-header {
    
  }

  .compare-item-container {
    height: 100%;
    width: 50%;

    border-radius: 8px;

    gap: 1rem;

    @include flexDisplay(row, space-between, center);
  }
}
