@import "../../global/Styles.scss";

//NEW TEST FOR STYLES -----------------------------------------------
//NEW TEST FOR STYLES -----------------------------------------------
//NEW TEST FOR STYLES -----------------------------------------------
//NEW TEST FOR STYLES -----------------------------------------------

.outter-form-container {
  height: 100vh;
  width: 100%;

  overflow: hidden;

  margin-top: -80px;

  position: relative;

  @include flexDisplay(row, space-between, center);

  animation: appear 500ms ease-in-out;

  @media all and (max-height: 700px) {
    height: 800px;
  }

  .inner-form-container {
    height: 100%;
    width: 55%;
    min-width: 500px;

    box-sizing: border-box;

    padding: 10px;

    @include flexDisplay(column, center, center);

    .form {
      width: 100%;
      height: 450px;
      box-sizing: border-box;
      padding: 10px;

      gap: 1rem;

      margin-top: 90px;
      margin-bottom: 10px;

      transition: all 300ms ease-in-out;
      @include flexDisplay(column, start, center);

      .submit-forgot-row {
        @include flexDisplay(row, center, center);
        gap: 1rem;

        .link {
          height: 3rem;
          width: auto;

          box-sizing: border-box;
          padding: 5px 10px;

          background: $primaryColor;
          color: white;

          text-decoration: none;

          cursor: pointer;

          @include fonts(1rem, 600, 0.5px);
          @include flexDisplay(row, center, center);

          border-radius: 4px;
          border: 2px solid $primaryColor;

          transition: all 200ms ease-in-out;

          @media all and (max-width: 700px) {
            &:hover {
              background-color: $secondaryColor;
              border: 2px solid $secondaryColor;
            }
          }

          &:hover {
            background-color: $secondaryColor;
            border: 2px solid $secondaryColor;
            transform: scale(1.1);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
          }
        }
      }

      .error-message {
        height: auto;

        color: red;

        @include flexDisplay(row, center, center);
      }

      .form-header {
        height: auto;
        width: 100%;

        @include fonts(3rem, 700, 0.5px);
      }

      div {
        width: 100%;
        @include flexDisplay(column, center, start);

        position: relative;

        .error {
          color: red;
        }

        input {
          width: 100%;

          box-sizing: border-box;

          padding: 5px;

          margin-top: 5px;

          color: black;

          border-radius: 4px;
          border: none;
          outline: 2px solid $fourthColor;
          @include fonts(1rem, 500, 0.5px);

          &:focus {
            border: none;
            outline: 2px solid $primaryColor;
          }
        }

        .icon-visible {
          position: absolute;

          height: 2rem;
          width: 2rem;

          background: none;
          border: none;

          top: 40%;
          right: 0%;

          @include flexDisplay(row, center, center);

          img {
            height: 1rem;
            width: 1rem;
          }
        }
      }
    }
  }
}

.shade {
  height: 100%;
  width: 100%;

  position: absolute;
  z-index: 2;

  top: 0;
  left: 0;

  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  );
}

.div-wrapper {
  height: 100vh;
  width: 100%;

  box-sizing: border-box;

  overflow: hidden;

  position: relative;

  @media all and (max-height: 700px) {
    display: inline-block;
    height: 800px;
  }
}

.load-wrapper {
  height: 100vh;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.4);

  @include flexDisplay(row, center, center);

  z-index: 99;
}

.dark-gradient {
  background-image: linear-gradient(
      148deg,
      rgba(15, 15, 15, 0.04) 0%,
      rgba(15, 15, 15, 0.04) 35%,
      rgba(113, 113, 113, 0.04) 35%,
      rgba(113, 113, 113, 0.04) 42%,
      rgba(210, 210, 210, 0.04) 42%,
      rgba(210, 210, 210, 0.04) 100%
    ),
    linear-gradient(
      70deg,
      rgba(15, 15, 15, 0.04) 0%,
      rgba(15, 15, 15, 0.04) 25%,
      rgba(113, 113, 113, 0.04) 25%,
      rgba(113, 113, 113, 0.04) 30%,
      rgba(210, 210, 210, 0.04) 30%,
      rgba(210, 210, 210, 0.04) 100%
    ),
    linear-gradient(
      65deg,
      rgba(15, 15, 15, 0.04) 0%,
      rgba(15, 15, 15, 0.04) 13%,
      rgba(113, 113, 113, 0.04) 13%,
      rgba(113, 113, 113, 0.04) 27%,
      rgba(210, 210, 210, 0.04) 27%,
      rgba(210, 210, 210, 0.04) 100%
    ),
    linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
}

.light-gradient {
  background-image: linear-gradient(
      112.5deg,
      rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%,
      rgb(195, 195, 195) 10%,
      rgb(195, 195, 195) 53%,
      rgb(176, 176, 176) 53%,
      rgb(176, 176, 176) 55%,
      rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%,
      rgb(137, 137, 137) 60%,
      rgb(137, 137, 137) 88%,
      rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%,
      rgb(99, 99, 99) 91%,
      rgb(99, 99, 99) 100%
    ),
    linear-gradient(
      157.5deg,
      rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%,
      rgb(195, 195, 195) 10%,
      rgb(195, 195, 195) 53%,
      rgb(176, 176, 176) 53%,
      rgb(176, 176, 176) 55%,
      rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%,
      rgb(137, 137, 137) 60%,
      rgb(137, 137, 137) 88%,
      rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%,
      rgb(99, 99, 99) 91%,
      rgb(99, 99, 99) 100%
    ),
    linear-gradient(
      135deg,
      rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%,
      rgb(195, 195, 195) 10%,
      rgb(195, 195, 195) 53%,
      rgb(176, 176, 176) 53%,
      rgb(176, 176, 176) 55%,
      rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%,
      rgb(137, 137, 137) 60%,
      rgb(137, 137, 137) 88%,
      rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%,
      rgb(99, 99, 99) 91%,
      rgb(99, 99, 99) 100%
    ),
    linear-gradient(90deg, rgb(195, 195, 195), rgb(228, 228, 228));

  background-blend-mode: overlay, overlay, overlay, normal;
}

.successful {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  z-index: 50;

  background: rgba(0, 0, 0, 0.3);

  @include flexDisplay(row, center, center);

  transition: animation 300ms ease-in-out;
  animation: appear;

  div {
    height: 300px;
    width: 500px;

    background: white;
    border-radius: 8px;

    position: relative;

    padding: 20px;
    box-sizing: border-box;

    gap: 1rem;

    @include flexDisplay(column, center, start);

    h3 {
      @include fonts(2rem, 600, 0.5px);
    }

    p {
      text-indent: 20px;
      @include fonts(1rem, 500, 0.5px);
    }

    button {
      position: absolute;

      color: white;

      top: 10px;
      right: 10px;

      height: 20px;
      width: 20px;

      border: none;
      border-radius: 4px;

      background: $primaryColor;

      @include flexDisplay(row, center, center);
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
